.content-display {
  background-color: rgb(36, 23, 2);
  position: relative;
}
.banner-play-button {
  background-color: white;
}
.banner-show-details {
  background-color: transparent;
  color: white;
}
.category-name {
  color: white;
  font-size: 15pt;
  text-align: left;
  margin: 20px;
}
.category-row {
  color: white;
  margin: 10px;
}
.movies-list-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  text-align: center;
}
.movie {
  object-fit: cover;
  max-width: 300px;
  margin: 30px 5px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
}
.movie:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}
