.login-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgb(8, 52, 92), rgb(99, 99, 7));
  color: white;
}
.login-form {
  height: 50vh;
  width: 25vw;
  position: relative;
  text-align: center;
  padding-top: 200px;
  display: block;
  margin: auto;
}
.authbtn {
  color: rgb(8, 13, 22);
  font-size: 10pt;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}
