.category-row {
  font-size: 5pt;
  color: white;
}

.movies-list-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.movie {
  object-fit: cover;
  max-width: 200px;
  padding: 10px;
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.08);
}
