.App {
  margin: 0;
}
.loginpage {
  display: block;
  border: solid black;
}
.hompage {
  background-color: rgb(241, 241, 237);
  position: relative;
}
.top-section h1 {
  color: white;
  font-size: 15pt;
  position: absolute;
  border: solid-white;
}
.banner-play-button {
  background-color: white;
}
.banner-show-details {
  background-color: transparent;
  color: white;
}
.category-row {
  font-size: 5pt;
  color: white;
}

.movies-list-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.movie {
  object-fit: cover;
  max-width: 230px;
  padding: 10px;
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.08);
}
